/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a universal font-family */
body {
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FF6B00;
}

/* Style the hero section */
.hero {
    background-image: url('https://cdn.discordapp.com/attachments/1141023360302710814/1150431100594823199/wp7720762_1.gif');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

/* Style the cta-button */
.cta-button {
    background-color: #FF6B00;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; /* Mengurangi padding dari 20px menjadi 10px */
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    /*margin-top: 20px; // Hapus baris ini agar tidak ada margin atas*/
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #E85400;
}

/* Style the footer */
footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    }
    
